/* ==========================================================================
   Custom styles
   ========================================================================== */
#gamelogger {
    background-color: aliceblue;
    height: 425px; 
    overflow-y: scroll;
}

.position-titular {
    background-color: blue;
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
}

.position-banquillo {
    background-color: aqua;
    padding: 5px;
    margin: 2px;
}

.player-card {
    text-align: center;
    background-color: azure;
    margin: auto;
    border: 1px;
    border-color: black;
    /*margin-left: 15px;*/
}

.row h1, h2, form{
    text-align: center;
}













